@import "~nhsuk-frontend/packages/nhsuk";

a.nhsuk-link-override:hover {
    box-shadow: 0 0 0 0px
}

a.nhsuk-link-override {
    text-decoration: none;
}

hr {
    border-bottom: 4px solid #005eb8;
    margin-bottom: 1rem;
}